<ul>
  <ul>
  <h2><%= @list_name %></h2>
  <li>
    <input type="checkbox"></input>
    <%= @assignment_one_description %>
    <strong><%= @assignment_one_pomodoro_estimate %></strong>
  </li>
  <li>
    <input type="checkbox"></input>
    <%=@assignment_two_description%>
    <strong><%=@assignment_two_pomodoro_estimate%></strong>
  </li>
  <li>
    <input type="checkbox"></input>
    <%=@assignment_three_description%>
    <strong><%=@assignment_three_pomodoro_estimate%></strong>
  </li>
</ul>
 